<div class="col-md-4">
</div>

<div class="col-md-6" *ngIf = "isLoggedIn()">
	<h1>Olá moço(a)!</h1>
	<a (click) = "logout()">Logout</a>
</div>

<div class="col-md-6" *ngIf = "!isLoggedIn()">
	<div class="content-box-large">
		<div class = "panel panel-default">
			<div class="panel-heading text-center">
				<h4>Login</h4>
			</div>
			<div class = "panel-body">
				<form (ngSubmit)="submeter()" #loginForm="ngForm">
					<div class="form-group">
						<label for="email">Email</label>
						<input type="text" class="form-control" id="email" [(ngModel)]="email" name="email" required >
					</div>

					<div class="form-group">
						<label for="senha">Senha</label>
						<input type="password" class="form-control" id="senha" [(ngModel)]="senha" name = "senha" required>
					</div>

					<div class = "text-center">
						<button type="submit" class="btn btn-success">Entrar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>